// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
}

.center-container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  margin: auto;
}

.title {
  font-size: 96px;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#navb {
  background: #3d3d3d;
  border: #3d3d3d;
  height: 70px;
  line-height: 70px;

  li {
    height: 70px;
    line-height: 70px;

    a {
      height: 70px;
      line-height: 40px;
      &:hover {
        color: whitesmoke;
        border-bottom: 2px solid red;
      }
    }
  }
}

#brand {
  line-height: 40px;

  &:hover {
    color: whitesmoke;
  }
}

img.game-logo {
  max-width: 100%;
}