// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    width: 100%;
    display: table;
    font-weight: 100;
}
