// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
}

.center-container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  margin: auto;
}

.title {
  font-size: 96px;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#navb {
  background: #3d3d3d;
  border: #3d3d3d;
  height: 70px;
  line-height: 70px;

  li {
    height: 70px;
    line-height: 70px;

    a {
      height: 70px;
      line-height: 40px;
      &:hover {
        color: whitesmoke;
        border-bottom: 2px solid red;
      }
    }
  }
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#brand {
  line-height: 40px;

  &:hover {
    color: whitesmoke;
  }
}

img.game-logo {
  padding: 10px;
  max-width: 100%;
}

.player-name {
  cursor: pointer;
  color: #ff3b2f;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    color: red;
  }
}

.weapons, .info {
  color: whitesmoke;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      height: 100px;
      line-height: 50px;
      font-weight: bold;
      font-size: 24px;

      &.weapon {
        cursor: pointer;

        p {
          margin-bottom: 0;
          display: block;
        }
      }

      &.selected {
        background: #3d3d3d;
      }
    }
  }
}

.grid-square {
  float: left;
  padding: 5px;
  display: inline-block;
  background: #666;
  border: 5px solid #333;

  &.bomb-location {
    background-image: url("../../../images/bomb.png");
    background-size: contain;
  }

  &.fire-location {
    background-image: url("../../../images/fire.png");
    background-size: contain;
  }

  &.cactus-location {
    background-image: url("../../../images/cactus.png");
    background-size: contain;
  }

  img {
    position: absolute;
    padding: 5px;
    max-width: 90%;
    margin: auto;
  }
}

.grid-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hoverable {
  .hover {
    &:hover {
      background: gray;
      cursor: pointer;
    }
  }
}

h2 {
  margin-bottom: 0;
}

.mini-item {
  float: left;
  max-width: 70px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 8px;
  cursor: auto;
}

p.ammo {
  text-align: left;
  margin-left: 50px;
}

#preGameModal {
  .modal-dialog {
    margin-top: 90px;
  }
}

#startGame {
  margin: auto;
  display: block;
}

.clock {
  max-width: 200px;

  &.shaky {
    -webkit-animation: shakeAnimation 1s infinite; /* Safari 4+ */
    -moz-animation: shakeAnimation 1s infinite; /* Fx 5+ */
    -o-animation: shakeAnimation 1s infinite; /* Opera 12+ */
    animation: shakeAnimation 1s infinite; /* IE 10+, Fx 29+ */
  }
}

.countdown {
  margin-top: -45%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

@-webkit-keyframes shakeAnimation {
  0%   { transform: rotate(0deg); }
  10%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  20%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
}
@-moz-keyframes shakeAnimation {
  0%   { transform: rotate(0deg); }
  10%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  20%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
}
@-o-keyframes shakeAnimation {
  0%   { transform: rotate(0deg); }
  10%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  20%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
}
@keyframes shakeAnimation {
  0%   { transform: rotate(0deg); }
  10%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  20%   { transform: rotate(-2deg); }
  20%   { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
}